@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');



* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
  
  font-family: 'Poppins', sans-serif; 
  scroll-behavior: smooth; 
  
}

.home {
  
  width: 100%;
  
  overflow-x: hidden;
} 

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins',sans-serif;
}

body.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

a {
  text-decoration: none;
}




